.required{
    color: red;
    font-style: italic;
}

body{
    margin: .75em 10%;
}

header{
    text-align: center;
    background-color: #502d7f;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    border: .2em solid #97d700;
    margin: 0px 0px 1.5em;
}

main{
    margin-left: 5%;
}

main > label{
    margin-right: .5em;
    display: inline-block;
    width: 12%;
    text-align: right;
}

main > input[type=text]{
    padding: .4em;
    border-radius: .3em;
}

main > button{
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    body{
            margin: 0px 3%;
    }
}